/**
 *	Core Styles
 **/

	@font-face {
	  font-family: Knockout-HTF;
	  src: url('../fonts/Knockout-HTF29-JuniorLiteweight.otf');
	}

	html {
		background-color: #07153D;
	}
	#interactiveWrapper {
		position: relative;
		margin: 0 auto;
		width: 964px;
		height: 650px;
		background-color: #07153D;
		font-family: Knockout-HTF;
		font-size: 1.2em;
		color: #9FA1AF;
	}
	#loading {
		position: relative;
		top: -650px;
		margin: 0 auto;
		width: 964px;
		height: 650px;
		background-color: #07153D;
		font-family: Knockout-HTF;
		font-size: 2.0em;
		color: #F47920;
		z-index: 10;
	}
	#loading .dialogue {
		position: relative;
		left: 48%;
		top: 40%;
	}
	#calendar {
		position: relative;
		left: 0px;
		top: 0px;
		width: 650px;
		height: 650px;
	}
	#sportsPane {
		position: relative;
		float: right;
		left: 0px;
		top: -650px;
		width: 314px;
		height: 325px;
		margin: 0 0 8px 0;
	}
	#dataPane {
		position: relative;
		float: right;
		right: -314px;
		top: -317px;
		width: 314px;
		height: 318px;
	}
	#dataPane .header, #sportsPane .header {
		position: relative;
		top: 0px;
		left: 0px;
		width: 314px;
		height: 58px;
		color: #F47920;
		font-size: 1.6em;
		margin: 0 0 8px 0;
	}
	#dataPane .header .htop, #sportsPane .header .htop {
		position: relative;
		top: 0px;
		left: 0px;
		width: 314px;
		height: 56px;
		background-color: #23345C;
	}
	#dataPane .header .htop .hbottom, #sportsPane .header .htop .hbottom {
		position: relative;
		top: 28px;
		left: 0px;
		width: 314px;
		height: 26px;
		background-color: #192951;
	}
	#dataPane .header .hshadow, #sportsPane .header .hshadow {
		position: relative;
		top: 0px;
		left: 0px;
		width: 314px;
		height: 2px;
		background-color: #000000;
	}
	#dataPane .header .headtype, #sportsPane .header .headtype {
		position: relative;
		top: -46px;
		left: 0px;
		width: 314px;
		height: 28px;
		z-index: 5;
	}
	#dataPane .header .headtype .col1, #sportsPane .header .headtype .col1 {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 28px;
		text-indent: 22px;
		display: inline-block;
	}
	#dataPane .header .headtype .col1 {
		width: 76%;
	}
	#dataPane .header .headtype .col2{
		position: relative;
		top: 0px;
		right: 14px;
		width: 22%;
		height: 28px;
		display: inline-block;
	}
	#dataPane .row, #sportsPane .row {
		position: relative;
		top: 0px;
		left: 0px;
		width: 314px;
		height: 30px;
	}
	#dataPane .row .listSport, #sportsPane .row .listSport {
		position: relative;
		top: 0px;
		left: 0px;
		width: 155px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col1, #sportsPane .row .listSport .col3 {
		position: relative;
		top: 0px;
		left: 0px;
		width: 21px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col1 svg, #sportsPane .row .listSport .col3 svg {
		position: relative;
		top: 0px;
		left: 0px;
		width: 21px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col2, #sportsPane .row .listSport .col4 {
		position: relative;
		top: -14px;
		left: 0px;
		width: 128px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col2 span, #sportsPane .row .listSport .col4 span {
		cursor: pointer;
	}
/**
 *	SVG Styles
 **/

	path {
		cursor: pointer;
	}
	stroke {
		render: crispEdges;
	}
	path{
		opacity: .5;
	}
	path:hover {
		opacity: 1;
	}

