/* Font */

/**
 *	Core Styles
 **/

	html {
		background-color: #07153D;
	}
	#interactiveWrapper {
		position: relative;
		margin: 0 auto;
		width: 964px;
		height: 696px;
		background-color: #07153D;
		font-family: 'Helvetica Medium Condensed', 'Arial Narrow', 'Open Sans Condensed', sans-serif;
		font-size: .75em;
		color: #FFFFFF;
		-webkit-touch-callout: none;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		-o-user-select: none;
		user-select: none;
	}
	#loading {
		position: relative;
		top: -696px;
		margin: 0 auto;
		width: 964px;
		height: 696px;
		background-color: #07153D;
		font-family: 'Open Sans Condensed', sans-serif;
		font-size: 2.0em;
		color: #F47920;
		z-index: 10;
	}
	#loading .dialogue {
		position: relative;
		left: 48%;
		top: 40%;
	}
	.selectable {
		cursor: pointer;
	}
	#calendar {
		position: relative;
		left: 0px;
		top: -76px;
		width: 696px;
		height: 696px;
	}
	#calendarCenter {
		position: relative;
		left: 312px;
		top: 312px;
		width: 76px;
		height: 76px;
	}
	#centerFlame {
		position: relative;
		left: 14px;
		top: -60px;
		width: 42px;
		height: 42px;
	}
	#centerDismiss {
		position: relative;
		left: 328px;
		top: -444px;
		width: 40px;
		height: 40px;
		transform: rotate(-52deg);
		-o-transform: rotate(-52deg);
		-ms-transform: rotate(-52deg);
		-moz-transform: rotate(-52deg);
		-webkit-transform: rotate(-52deg);
		background-color: transparent;
	}
	#centerDismiss .dateDisplay {
		position: relative;
		left: 0px;
		top: 0px;
		padding: 10px 0 0 0;
		width: 40px;
		height: 30px;
		background-color: #07153D;
		display: none;
		text-align: center;
		display: none;
		transform: rotate(52deg);
		-o-transform: rotate(52deg);
		-ms-transform: rotate(52deg);
		-moz-transform: rotate(52deg);
		-webkit-transform: rotate(52deg);
		font-size: 1.2em;
	}
	#sportsPane {
		position: relative;
		float: right;
		left: -12px;
		top: -810px;
		width: 256px;
		height: 325px;
		margin: 16px 0 8px 0;
		text-transform: uppercase;
	}
	#dataPane {
		position: relative;
		float: right;
		display: none;
		right: -244px;
		top: -459px;
		width: 256px;
		height: 321px;
		margin: 8px 0 16px 0;
	}
	#dataPane .header, #sportsPane .header {
		position: relative;
		top: 0px;
		left: 0px;
		width: 256px;
		height: 58px;
		color: #F47920;
		font-size: 1.3em;
		margin: 0 0 8px 0;
	}
	#dataPane .header .htop, #sportsPane .header .htop {
		position: relative;
		top: 0px;
		left: 0px;
		width: 256px;
		height: 48px;
		background-color: #23345C;
	}
	#dataPane .header .htop .hbottom, #sportsPane .header .htop .hbottom {
		position: relative;
		top: 25px;
		left: 0px;
		width: 256px;
		height: 22px;
		background-color: #192951;
	}
	#dataPane .header .hshadow, #sportsPane .header .hshadow {
		position: relative;
		top: 0px;
		left: 0px;
		width: 256px;
		height: 2px;
		background-color: #000000;
	}
	#dataPane .header .headtype, #sportsPane .header .headtype {
		position: relative;
		top: -36px;
		left: 0px;
		width: 256px;
		height: 28px;
		z-index: 5;
	}
	#dataPane .header .headtype .col1, #sportsPane .header .headtype .col1 {
		position: relative;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 28px;
		text-indent: 22px;
		display: inline-block;
	}
	#dataPane .header .headtype .col1, #sportsPane .header .headtype .col1 {
		width: 70%;
	}
	#dataPane .header .headtype .col2, #sportsPane .header .headtype .col2 {
		position: relative;
		top: 0px;
		right: 14px;
		width: 28%;
		height: 28px;
		display: inline-block;
	}
	#sportsPane .header .headtype .col2 {
		cursor: pointer;
	}
	#sportsExit {
		position: relative;
		left: 242px;
		top: -90px;
		width: 28px;
		height: 28px;
		cursor: pointer;
		display: none;
	}
	#dataExit {
		position: relative;
		left: 242px;
		top: -90px;
		width: 28px;
		height: 28px;
		cursor: pointer;
	}
	#dataPane .row, #sportsPane .row {
		position: relative;
		top: 0px;
		left: 0px;
		width: 256px;
		height: 30px;
		line-height: 16px;
	}
	#dataPane .row .listSport, #sportsPane .row .listSport {
		position: relative;
		top: 0px;
		left: 0px;
		width: 126px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col1, #sportsPane .row .listSport .col3 {
		position: relative;
		top: 0px;
		left: 0px;
		width: 21px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col1 svg, #sportsPane .row .listSport .col3 svg {
		position: relative;
		top: 0px;
		left: 0px;
		width: 21px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col2, #sportsPane .row .listSport .col4 {
		position: relative;
		top: -16px;
		left: 0px;
		width: 102px;
		height: 30px;
		display: inline-block;
	}
	#sportsPane .row .listSport .col2 span, #sportsPane .row .listSport .col4 span {
		cursor: pointer;
	}
/**
 *	SVG Styles
 **/

	stroke {
		render: crispEdges;
	}
	.sportArc {
		cursor: pointer;
		opacity: .7;
	}
	.sportArc:hover {
		opacity: 1 !important;
	}

